svg{
    opacity: .6;
    transition: all .5s;
    &:hover{
        scale: 1.2;
        opacity: 1;
    }
}
.completed{
    text-decoration-color: red !important;
    text-decoration:3px line-through;
    
}
